<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="static/bootstrap/css/bootstrap.css"/>
		<title>Uploading Music</title>

	</head>
	<body>
	<div class="container">
      <div class="page-header">
        <h1>Mp3 Uploading App</h1>
      </div>

    {% if filename %}
    <div>
        <h2>Song : {{ filename }}</h2>
        <div class="hero-unit">
       
 
        <p>
            <a href="/" class="btn btn-primary">Home</a>
            <a href="/uploads/{{ filename }}" class="btn btn-info">Download</a>
            <!-- <a href="{{ url_for('upload_file') }} " class="btn btn-danger">Upload Another</a> -->
            <form action= "{{ url_for('toSoundCloud') }}" method="post" enctype="multipart/form-data">
              <input type="hidden" name="filename" value="{{ filename }}" >
              <input type="submit" value="Soundcloud" class="btn btn-danger">
            </form>            


   
        </p>
 
        </div>
 
    </div>
{% else %}
 
<div class="form-audio">
    <h2>Upload Song</h2>
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="button" multiple> <br/><br/>
        <input type="submit" value="Upload" class="btn btn-danger">
      </form>
</div>
{% endif %}

    <hr/>
   
</div>
</body>
</html>